<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Connections</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Connections</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled">
        <li *ngFor="let endpoint of dbConnection" style="cursor: pointer">
          <hr>
          <i (click)="selectedDbConn = endpoint">{{ endpoint.name }}</i>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header ui-sortable-handle">
          <span *ngIf="editSelected">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" [(ngModel)]="selectedDbConn.name">
              </div>
              <div class="col">
                <button class="btn btn-success" (click)="saveSelected()">Ok</button>
              </div>
            </div>
          </span>
          <h3 *ngIf="!editSelected" class="card-title" >
            {{ selectedDbConn.name }}
            &nbsp;
            <i class="fa fa-edit" (click)="editSelected = true"></i>
          </h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="host">Host:</label>
            <input *ngIf="editSelected" [(ngModel)]="selectedDbConn.URL" type="text" class="form-control" id="host"  aria-describedby="emailHelp" placeholder="db.example.com">
            <h3 *ngIf="!editSelected" >
              {{ selectedDbConn.URL }}
            </h3>
          </div>
          <div class="form-group">
            <label for="dbname">db name:</label>
            <input  *ngIf="editSelected" [(ngModel)]="selectedDbConn.DBName" type="text" class="form-control" id="dbname" aria-describedby="emailHelp" placeholder="name">
            <h3 *ngIf="!editSelected"  >
              {{ selectedDbConn.DBName }}
            </h3>
          </div>
          <div class="form-group">
            <label for="dbuser">db user:</label>
            <input *ngIf="editSelected" [(ngModel)]="selectedDbConn.DBUser" type="text" class="form-control" id="dbuser" aria-describedby="emailHelp" placeholder="username">
            <h3 *ngIf="!editSelected" >
              {{ selectedDbConn.DBUser }}
            </h3>
          </div>
          <div class="form-group">
            <label for="dbpassword">db password:</label>
            <input *ngIf="editSelected" [(ngModel)]="selectedDbConn.Password" type="text" class="form-control" id="dbpassword" aria-describedby="emailHelp" placeholder="password">
            <h3 *ngIf="!editSelected"  >
              {{ selectedDbConn.Password }}
            </h3>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header ui-sortable-handle">
          <h3 class="card-title">
            Create point
          </h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <input type="text" name="name" placeholder="Name" class="form-control" [(ngModel)]="newConn.name">
            </div>
            <div class="col-md-6">
              <button class="btn btn-danger" (click)="createConnection()">Create</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
