<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Connections</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Connections</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled list-group">
        <li  class="list-group-item text-center bg-gradient-gray-dark">
          <button class="btn btn-sm btn-light" (click)="paginator.prev()"><</button>&nbsp;
          <button class="btn btn-sm btn-light">{{ paginator.page }} </button>&nbsp;
          <button class="btn btn-sm btn-light" (click)="paginator.next()">></button>

        </li>
        <li *ngIf="paginator.currentPageList.length < 1" class="list-group-item">
          <i class="text-secondary">No items</i>
        </li>
        <li (click)="selectedDbConn = conn"
            *ngFor="let conn of paginator.currentPageList"
            [ngClass]="conn.ID === selectedDbConn.ID ? 'bg-gradient-light text-bold' : ''"
            style="cursor: pointer" class="list-group-item" >
          <i> &nbsp;{{ conn.name }}</i>
        </li>
        <li class="list-group-item bg-gradient-gray-dark">
          <div class="row">
            <div class="col-md-7">
              <input type="text" name="name" placeholder="New item" class="form-control" [(ngModel)]="newConn.name">
            </div>
            <div class="col-md-5">
              <button class="btn btn-light float-right" (click)="createConnection()">Create</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header ui-sortable-handle">
          <span *ngIf="editSelected">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" [(ngModel)]="selectedDbConn.name">
              </div>
              <div class="col">
                <button class="btn btn-success" (click)="saveSelected()">Ok</button>
              </div>
            </div>
          </span>
          <h3 *ngIf="!editSelected" class="card-title" >
            {{ selectedDbConn.name }}
            &nbsp;
            <i class="fa fa-edit" (click)="editSelected = true"></i>
          </h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="host">Host:</label>
            <input *ngIf="editSelected" [(ngModel)]="selectedDbConn.URL" type="text" class="form-control" id="host"  aria-describedby="emailHelp" placeholder="db.example.com">
            <h3 *ngIf="!editSelected" >
              {{ selectedDbConn.URL }}
            </h3>
          </div>
          <div class="form-group">
            <label for="dbname">db name:</label>
            <input  *ngIf="editSelected" [(ngModel)]="selectedDbConn.DBName" type="text" class="form-control" id="dbname" aria-describedby="emailHelp" placeholder="name">
            <h3 *ngIf="!editSelected"  >
              {{ selectedDbConn.DBName }}
            </h3>
          </div>
          <div class="form-group">
            <label for="dbuser">db user:</label>
            <input *ngIf="editSelected" [(ngModel)]="selectedDbConn.DBUser" type="text" class="form-control" id="dbuser" aria-describedby="emailHelp" placeholder="username">
            <h3 *ngIf="!editSelected" >
              {{ selectedDbConn.DBUser }}
            </h3>
          </div>
          <div class="form-group">
            <label for="dbpassword">db password:</label>
            <input *ngIf="editSelected" [(ngModel)]="selectedDbConn.Password" type="text" class="form-control" id="dbpassword" aria-describedby="emailHelp" placeholder="password">
            <h3 *ngIf="!editSelected"  >
              {{ selectedDbConn.Password }}
            </h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
