<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">End Points</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">End Points</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled list-group">
        <li  class="list-group-item text-center bg-gradient-gray-dark">
          <button class="btn btn-sm btn-light" (click)="paginator.prev()"><</button>&nbsp;
          <button class="btn btn-sm btn-light">{{ paginator.page }} </button>&nbsp;
          <button class="btn btn-sm btn-light" (click)="paginator.next()">></button>

        </li>
        <li *ngIf="paginator.currentPageList.length < 1" class="list-group-item">
          <i class="text-secondary">No items</i>
        </li>
        <li (click)="selectEndp(endp)" *ngFor="let endp of paginator.currentPageList" style="cursor: pointer" class="list-group-item">
          <i> &nbsp;{{ endp.name }}</i>
        </li>
        <li class="list-group-item bg-gradient-gray-dark">
          <div class="row">
            <div class="col-md-7">
              <input type="text" name="name" placeholder="New item" class="form-control" [(ngModel)]="newEndpoint.name">
            </div>
            <div class="col-md-5">
              <button class="btn btn-light float-right" (click)="createEndPoint()">Create</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header ui-sortable-handle">
          <span *ngIf="editSelected">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" [(ngModel)]="selectedEndPoint.name">
              </div>
              <div class="col">
                <button class="btn btn-success" (click)="saveSelected()">Ok</button>
              </div>
            </div>
          </span>
          <h3 *ngIf="!editSelected" class="card-title" (click)="editSelected = true">
            {{ selectedEndPoint.name }}
          </h3>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>
