<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Projects</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Projects</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled list-group">
        <li  class="list-group-item text-center bg-gradient-gray-dark">
          <button class="btn btn-sm btn-light" (click)="paginator.prev()"><</button>&nbsp;
          <button class="btn btn-sm btn-light">{{ paginator.page }} </button>&nbsp;
          <button class="btn btn-sm btn-light" (click)="paginator.next()">></button>

        </li>
        <li *ngIf="paginator.currentPageList.length < 1" class="list-group-item">
            <i class="text-secondary">No items</i>
        </li>
        <li (click)="selectProject(project)"
            *ngFor="let project of paginator.currentPageList"
            [ngClass]="project.ID === selectedProject.ID ? 'bg-gradient-light text-bold' : ''"
            style="cursor: pointer" class="list-group-item">
          <i> &nbsp;{{ project.name }}</i>
        </li>
        <li class="list-group-item bg-gradient-gray-dark">
          <div class="row">
            <div class="col-md-7">
              <input type="text" name="name" placeholder="New item" class="form-control" [(ngModel)]="newProject.name">
            </div>
            <div class="col-md-5">
              <button class="btn btn-light float-right" (click)="createProject()">Create</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
          <div class="col">
            <h2 class="text-center">
              {{ selectedProject.name }}
            </h2>
          </div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit" (click)="editSelected = true"></i>
        </div>
        <div class="card-body">

          <div *ngIf="editSelected">
            <div class="row">
              <div class="col">
                <label for="name">Name on the project</label>
              </div>
              <div class="col">
                <input type="text" id="name" class="form-control" [(ngModel)]="selectedProject.name">
              </div>
              <div class="col">
                <button class="btn btn-success" (click)="saveSelected()">Ok</button>
              </div>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col">
              <b>Db connection</b>
            </div>
            <div class="col">
              <div *ngIf="selectedProject.dbConnection == '' ">
                <span class="text-secondary">No connection &nbsp; <i class="click fa fa-plus" (click)="editSelected = true"></i></span>
              </div>
              <div *ngIf="editSelected">
                <label>
                  <select [(ngModel)]="selectedProject.dbConnection" class="form-control">
                    <option value="{{ conn.ID }}" *ngFor="let conn of connections">{{ conn.name }}</option>
                  </select>
                </label>
              </div>
              <div *ngIf="!editSelected && selectedProject.dbConnection !== ''">
                {{ connectionsHash[selectedProject.dbConnection].name }}
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <b>Port</b>
            </div>
            <div class="col">
              <div *ngIf="selectedProject.port == 0 ">
                <span class="text-secondary">No port &nbsp; <i class="click fa fa-plus" (click)="editSelected = true"></i></span>
              </div>
              <div *ngIf="editSelected">
                <input [(ngModel)]="selectedProject.port" type="number" placeholder="Port" class="form-control" min="1000" max="65534">
              </div>
              <div *ngIf="!editSelected && selectedProject.port !== 0">
                {{ selectedProject.port }}
              </div>
            </div>
          </div>
          <hr>
          <b>End Points</b>

          <table class="table">
            <thead>
            <tr>
              <th scope="col">Path</th>
              <th scope="col">EndPoint</th>
              <th scope="col">Methods</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let end of endPointPaginator.currentPageList">
              <th scope="row">{{ end.key }}</th>
              <td>{{ endpointsHash[end.value].name }}</td>
              <td>*</td>
            </tr>
            <tr>
              <th>
                <input type="text" [(ngModel)]="newEndPoint.key" class="form-control" placeholder="/endpoint">
              </th>
              <td>
                <select class="form-control" [(ngModel)]="newEndPoint.value" id="">
                  <option value="{{ end.ID }}" *ngFor="let end of endpoints">{{ end.name }}</option>
                </select>
              </td>
              <td>
                <button class="btn btn-dark" (click)="addEndpoint()">Add</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card h-400">
          <ng-codeflask [language]="'golang'" [(code)]="selectedProject.code" [contentEditable]="'false'"></ng-codeflask>
      </div>
      <div class="card">
        <div class="card-body">
          <i>// TODO: code saving and manipulation</i>
        </div>
      </div>
    </div>
  </div>
</div>
