<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Model</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Model</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="list-unstyled list-group">
        <li  class="list-group-item text-center bg-gradient-gray-dark">
          <button class="btn btn-sm btn-light" (click)="paginator.prev()"><</button>&nbsp;
          <button class="btn btn-sm btn-light">{{ paginator.page }} </button>&nbsp;
          <button class="btn btn-sm btn-light" (click)="paginator.next()">></button>

        </li>
        <li *ngIf="paginator.currentPageList.length < 1" class="list-group-item">
          <i class="text-secondary">No items</i>
        </li>
        <li (click)="selectedModel = model" *ngFor="let model of paginator.currentPageList" style="cursor: pointer" class="list-group-item">
          <i > &nbsp;{{ model.name }}</i>
        </li>
        <li class="list-group-item bg-gradient-gray-dark">
          <div class="row">
            <div class="col-md-7">
              <input type="text" name="name" placeholder="New item" class="form-control" [(ngModel)]="newModel.name">
            </div>
            <div class="col-md-5">
              <button class="btn btn-light float-right" (click)="create()">Create</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="card">
        <div class="card-header ui-sortable-handle">
          <span *ngIf="editSelected">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" [(ngModel)]="selectedModel.name">
              </div>
              <div class="col">
                <button class="btn btn-success" (click)="saveSelected()">Ok</button>
              </div>
            </div>
          </span>
          <h3 *ngIf="!editSelected" class="card-title" (click)="editSelected = true">
            {{ selectedModel.name }}
          </h3>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Relation</th>
              <th scope="col">Type</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let field of selectedModel.fields; let i = index">
              <th scope="row">{{ field.name }}</th>
              <td><span *ngIf="field.type.isCustom">{{ field.relationType.relation.toString() }}</span></td>
              <td>
                <span *ngIf="!field.type.isCustom">
                  {{ field.type.name }}
                </span>
                <span *ngIf="field.type.isCustom">
                  {{ models[field.type.value].name }}
                </span>
              </td>
              <td><i class="fa fa-trash click" (click)="deleteField(i)"></i></td>
            </tr>
            <tr>
              <th>
                <input type="text" [(ngModel)]="newField.name" class="form-control" placeholder="name">
              </th>
              <td>
                <label>
                  <select *ngIf="newField.type.isCustom" class="form-control"  [(ngModel)]="newField.relationType.relation" >
                    <option value="{{ end }}" *ngFor="let end of relations;" selected>{{ end }}</option>
                  </select>
                </label>
              </td>
              <td>
                <label>
                  <select class="form-control" [(ngModel)]="newField.type"  >
                    <option [ngValue]="end" *ngFor="let end of types; let i = index" selected>
                      {{ end.name }}
                    </option>
                    <hr>
                    <option [ngValue]="end" *ngFor="let end of customTypes; let i = index">
                      {{ end.name }}
                    </option>
                  </select>
                </label>
              </td>

              <td>
                <button class="btn btn-success" (click)="addField()">Add</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
